$accent-01: #1F8EFF;
$accent-02: #AED6FF;
$accent-03: #E4F1FF;
$text-01: #000000;
$text-02: rgba(0,0,0, 0.6);
$text-field: rgba(0,0,0, 0.05);
$text-on-color: #ffffff;
$border-01: rgba(0,0,0, 0.1);
$warning-fill: rgba(255, 192, 31, 0.2);
$success: #039F00;

$padding-left: 24px;
$padding-right: 24px;
