.order-payment{
  display: flex;
  align-items: center;
  padding-bottom: 22px;
  padding-top: 24px;
  padding-left: 23px;
  border: 1px solid $border-01;
  border-radius: 12px;
  gap: 8px;

  &__image{
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }
}
