.order-screen{
  height: 100%
;
  &__body{
    padding: 24px $padding-right 24px $padding-left;

    &__section{
      margin-bottom: 24px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
}
